extends ../layouts/default
include ../layouts/dot-divider

block headVars
	- var title = '骚也 | ' + data.post.title;
	- var ogImage = data.post.postImage.url || ('/post/images/' + data.post.postImage.filename);
	- var ogDesc = data.post.content.brief;

block authorInfo
	if data.post.authors && data.post.authors.length
		each auth in data.post.authors
			.author
				- var authorImageUrl = auth.authorImage.url || ('/author/images/' + auth.authorImage.filename);
				.avatar
					img(src=authorImageUrl, alt=auth.authorName) 
				.author-info
					a(href='/author/' + auth.slug).name= auth.authorName
					.brief!=auth.introduction.brief

block content
	link(href="/styles/site/post.min.css", rel="stylesheet")
	.container.container-post: .row
		.main-col.col-md-8
			.fill-space
			article
				if !data.post
					h2 Invalid Post.
				else
					if (data.post.postImage.exists)
						- var postUrl = data.post.postImage.url || ('/post/images/' + data.post.postImage.filename);
						header(style="background-image:url('" + postUrl + "');").post-header
							if (data.post.titleImage.exists)
								.post-title
									img(class="post-title-img", src="" + (data.post.titleImage.url || "/post/images/" + data.post.titleImage.filename), alt=data.post.title)
								h1(class="sr-only")
									!=data.post.title
								h5(class="sr-only") 
									!=data.post.content.brief
							else 
								.post-title
									h1(class="post-title")
										!=data.post.title
									h5(class="post-brief") 
										!=data.post.content.brief
							.post-info
								each auth, auth_i in data.post.authors
									a(href='/author/' + auth.slug).label= auth.authorName
								span.label=data.post._.publishedDate.format('YYYY.MM.DD')
								if data.post.categories && data.post.categories.length
									each cat, cat_i in data.post.categories
										a(href='/articles/' + cat.key).label=cat.name
					blockquote.post-intro
						div!=data.post.content.intro || '<p>一段对文章的导语</p>'
					.post-body
						!= data.post.content.full
					+dot-divider()
					.hidden-md.hidden-lg.authors-container
						header 作者
						block authorInfo
					.post-editor-note
						header 编辑手札
						.edtor-note!=data.post.content.editorNote
					.post-copyright 
						| 读者君，如果你实在憋不住的话，请发邮件至
						a(href="mailto:reader@saoye.me") readers@saoye.me
						| ，看心情回。
						
			.fill-space.hidden-md.hidden-lg
		section.col-md-4.side-col 
			.authors-container
				header.hidden-sm.hidden-xs 作者
				.hidden-sm.hidden-xs
					block authorInfo
				if (data.authorPosts && data.authorPosts.length > 0)
					.recent-posts
						header 最近文章
						ul
							each authorPost in data.authorPosts
								li.author-post
									a(href='/articles/post/' + authorPost.slug)
										= authorPost.title + ' - '
										span.author-post-date=authorPost._.publishedDate.format('YYYY.MM.DD')
block js
	script(src="/js/post-page.js")
