extends ../layouts/default

mixin dot-divider()
	.dot-divider
		.space
		.circular-container
			.circle
		.space


block authorInfo
	if data.post.authors && data.post.authors.length
		each auth in data.post.authors
			.author
				- var authorImageUrl = auth.authorImage.exists ? auth.authorImage.url || ('/authors/images/' + auth.authorImage.filename) : '';
				.avatar
					img(src=authorImageUrl) 
				.author-info
					a(href='/author/' + auth.slug).name= auth.authorName
					.brief!=auth.introduction.brief||'此处应有一段简短的自述。'

block content
	link(href="/styles/site/post.min.css", rel="stylesheet")
	.container.container-post: .row
		.main-col.col-md-8
			.fill-space
			article
				if !data.post
					h2 Invalid Post.
				else
					if (data.post.postThumbnailImage.exists)
						- var postUrl = data.post.postThumbnailImage.url || ('/articles/post/images/' + data.post.postThumbnailImage.filename);
						header(style="background-image:url('" + postUrl + "');").post-header
							if (data.post.titleImage.exists)
								.post-title
									img(class="post-title-img", src="" + (data.post.titleImage.url || "/post/images/" + data.post.titleImage.filename))
							else 
								.post-title
									h1(class="post-title")
										!=data.post.title
									h5(class="post-brief") 
										!=data.post.content.brief
							.post-info
								each auth, auth_i in data.post.authors
									a(href='/author/' + auth.slug).label= auth.authorName
								span.label=data.post._.publishedDate.format('YYYY.MM.DD')
								if data.post.categories && data.post.categories.length
									each cat, cat_i in data.post.categories
										a(href='/articles/' + cat.key).label=cat.name
					blockquote.post-intro
						div!=data.post.content.intro || '<p>一段对文章的导语</p>'
					.post-body
						!= data.post.content.full
					+dot-divider()
					.hidden-md.hidden-lg.authors-container
						header 作者
						block authorInfo
					.post-editor-note
						header 编辑手札
						.edtor-note!=data.post.content.editorNote||'<p>一段来自己编辑们的评论。</p><p>可能有多行。</p>'
					.post-copyright 
						
			.fill-space.hidden-md.hidden-lg
		section.col-md-4.side-col 
			.authors-container
				header.hidden-sm.hidden-xs 作者
				.hidden-sm.hidden-xs
					block authorInfo
				if (data.authorPosts && data.authorPosts.length > 0)
					.recent-posts
						header 最近文章
						ul
							each authorPost in data.authorPosts
								li.author-post
									a(href='/articles/post/' + authorPost.slug)
										= authorPost.title + ' - '
										span.author-post-date=authorPost._.publishedDate.format('YYYY.MM.DD')
