extends ../layouts/default

block content
	.container-post: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/blog') &larr; back to the blog
			hr
			if !data.post
				h2 Invalid Post.
			else
				header
					h1= data.post.title
					h5  
						if data.post.publishedDate
							| 时间：#{data.post._.publishedDate.format('YYYY-MM-DD')}
					h5
						if data.post.author
							| 作者：#{data.post.author.name.first}
					h5
						if data.post.categories && data.post.categories.length
							| 标签：
							each cat, cat_i in data.post.categories
								a(href='/blog/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  

				.post
					if data.post.image.exists
						.image-wrap: img(src=data.post._.image.fit(750,500)).img-responsive
					!= data.post.content.full
